body{
	background: rgb(128, 180, 255);
}

.encabezado {
	background: rgb(0, 0, 128);
	padding: 10px;
	text-align: center;
	color: pink;
}

.contenido {
	background: rgb(255, 255, 255);
	padding: 20px;
	margin: 20px;
	text-align: center;
}

.pie {
	background: rgb(210, 230, 255);
	padding: 8px;
	text-align: center;
	color: blue;
} 
